<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spotify Music Maps</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1 align="center">Spotify Music Maps</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p>
  <div class="row">
    <div class="col-sm-9" style="background-color:lavender;"></div>
    <div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-4</div>
  </div>
</div>

<div class="container">
  <h2>Circle</h2>
  <p>The .img-circle class shapes the image to a circle (not available in IE8):</p>
  <img src="https://profile-images.scdn.co/images/userprofile/default/a6619945fc573ae4e726082caec7121b474184eb" class="img-responseive center img-circle">
</div>

</body>
</html>